.app {
  height: 100vh;
}

.header {
  color: var(--white);
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  justify-content: space-between;
  max-width: 80rem;
  margin: 0 auto;
  align-items: center;
  padding: 4rem;
  h1 {
    font-size: 1rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 18px;

  svg {
    width: 1.5rem;
  }
  span {
    opacity: 0.5;
    font-weight: 500;
  }
}

.container {
  margin: 0 auto;
  width: 50rem;
}

.navigation {
  ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
  }
}

.section {
  padding: 10rem;
  color: var(--white);
  background-color: var(--black);
  text-align: center;
  margin-bottom: -4rem;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
  }
  hgroup {
    p {
      opacity: 0.64;
      font-size: 1.3rem;
      margin: 12px auto 3rem;
      max-width: 480px;
    }
  }
}

.sectionPurple {
  background: linear-gradient(to bottom, #9747ff 0%, #684dff 100%);
  composes: section;
}

.button {
  border-radius: 99rem;
  padding: 0.8rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: fit-content;
  font-weight: bold;
}

.picture {
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--shadow);
  margin: 2rem;
  position: relative;
  aspect-ratio: 16/9;

  img {
    position: absolute;
  }
}

.buttonFancy {
  composes: button;
  margin: 2rem auto;

  background: linear-gradient(180deg, #1ce28f 0%, #15ab6c 100%);
  box-shadow:
    inset 0px 2px 0px rgba(255, 255, 255, 0.16),
    0 0 0 2px rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;

  &:hover {
    transform: rotate(0.7deg) scale(1.05);
  }
}
.buttonGhost {
  composes: button;
  border: 2px solid color-mix(in srgb, currentcolor, transparent 85%);
}
.flex {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.sectionBlack {
  composes: section;
}
.madebyWorkswith {
  display: flex;
  margin: 1.5rem 0;
  gap: 0.5rem;
}

.iconList {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  font-weight: 500;
  font-size: 16px;
  gap: 1rem;

  a {
    opacity: 0.64;
    font-size: 1.3rem;
  }
}

.sectionGrey {
  composes: section;
  background-color: var(--grey);
  color: var(--black);
  div {
    .pictureTransparent {
      opacity: 0.3;
      border-radius: var(--border-radius);
      overflow: hidden;
      box-shadow: var(--shadow);
      position: relative;
      aspect-ratio: 16/9;
    }
  }
  .picture {
    position: absolute;
  }
}

.iconHeading {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  svg {
    height: 3rem;
  }
}

.apps {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;

  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-top: 4px;
    opacity: 0.8;
    margin-bottom: 12px;
  }
  a {
    opacity: 1;
    font-weight: 500;
  }
  svg {
    margin: 1.2rem 0.3rem;
    border-radius: var(--border-radius);
    width: 30rem;
  }
  .appPreview {
    position: absolute;
    border: 3px solid red;
    margin-top: 11rem;
    margin-left: 16rem;
    overflow: hidden;
    box-shadow:
      0px 4px 8px rgb(0 0 0 / 24%),
      0px 24px 40px rgb(0 0 0 / 24%);
  }
}

.automator {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 2rem 20rem 2rem;
  background-color: var(--grey);
  color: var(--black);
  border-radius: var(--border-radius);
  width: 22rem;
}

.prototyper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 2rem 20rem 2rem;
  background-color: #1a1a1a;
  color: var(--white);
  border-radius: var(--border-radius);
  width: 22rem;
}

.designers {
  text-align: center;
  border: 3px solid blue;
  color: blue;
  opacity: 1;
  font-weight: 500;
}

.designerIcons {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(5, 2fr);
  gap: 10px;
  list-style-type: none;
  margin-top: 4rem;
  font-size: 16px;
  gap: 1rem;

  svg {
    text-align: center;
    display: inline;
  }
}

.sectionPurplePricing {
  composes: section;
  background-color: var(--purple);
  .pricing {
    text-align: left;
    background-color: var(--white);
    width: 22rem;
    color: var(--black);
    margin-top: 2rem;
    padding: 2rem;
    border-radius: var(--border-radius);
  }
  h3 {
    color: var(--purple);
    font-size: 18px;
    display: inline-flex;
  }
  strong {
    font-weight: 900;
    font-size: 2rem;
  }
  p {
    font-size: 1.1rem;
    opacity: 0.4;
    font-weight: 500;
    padding: 0.5rem 0rem;
  }

  .pricingList {
    padding: 2rem;
    line-height: 2.5rem;
    font-size: 18px;
    font-weight: 600;
  }
}

.buttonTry {
  composes: button;
  background-color: var(--purple);
  color: var(--white);
  border: none;
}

.sectionDarkpurple {
  composes: section;
  background: linear-gradient(to bottom, #160e20 0%, #301c4b 100%);
  .joinDiscord {
    svg {
      margin-right: 0.5rem;
    }
  }
}

.buttonFancyPurple {
  composes: button;
  margin: 2rem auto;

  background: var(--purple);
  box-shadow:
    inset 0px 2px 0px rgba(255, 255, 255, 0.16),
    0 0 0 2px rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;

  &:hover {
    transform: rotate(0.7deg) scale(1.05);
  }
}

.joinDiscord {
  display: flex;
  align-items: center;
  margin-left: 40%;
  margin-bottom: 20%;
  opacity: 0.64;
}
